.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
    transition: 0.4s;
}

.menu {
    display: flex;
}



.bar{
    height: 2px;

}
body{
    text-align: center;
    color: aliceblue;
    font-size: large;
}
body a{
    color: aliceblue;
    text-decoration: underline;
}



  

 h1{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: aliceblue;

}
hr{
    border-style: inset;
    border-style: double;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black
    
}

header{
    background-color:black;
    padding-top: 20px;
    padding-bottom: 20px;
   
    
}


.menu.active {
    display: flex;
    
}


#header a {
    color: goldenrod;
    text-decoration: rgb(146, 146, 207);
    margin-right: 20px;
}

#content {
    background-color: #23662631;
    padding: 20px;
    
}

h1, h2 {
    color: aliceblue;
}



img{
    width: 220px;
    height: 150px;
}

#content img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3px;
   
    margin-top: 5px;
    border: 1px solid #831a1a;
    border-radius: 4px;
}

form button {
    background-color: #6d1c1cc9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-style: groove;
    border-color: black;
}

#footer {
    background-color:rgb(7, 7, 5);
    color: #f3efef;
    text-align: center;
    padding: 10px;
}


a:hover {
    text-decoration: underline;
}
a{
    text-decoration: none;
}






@media (max-width: 900px) {
    .menu-toggle {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 150px;
        padding: 10px;
    }

    .menu a {
        color: #fff;
        text-decoration: none;
        margin: 5px 0;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}